With WDSL/appPenjualanwWebService/xml-resources/web-service-references/ServiceNetproService/wsdl/localhost_8080/WebServiceLogin/ServiceNetproService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pakeg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pakeg/" name="ServiceNetproService">
<types>
<xsd:schema>
<xsd:import namespace="http://pakeg/" schemaLocation="http://localhost:8080/WebServiceLogin/ServiceNetproService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="cari">
<part name="parameters" element="tns:cari"/>
</message>
<message name="cariResponse">
<part name="parameters" element="tns:cariResponse"/>
</message>
<message name="coba">
<part name="parameters" element="tns:coba"/>
</message>
<message name="cobaResponse">
<part name="parameters" element="tns:cobaResponse"/>
</message>
<portType name="ServiceNetpro">
<operation name="login">
<input wsam:Action="http://pakeg/ServiceNetpro/loginRequest" message="tns:login"/>
<output wsam:Action="http://pakeg/ServiceNetpro/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="cari">
<input wsam:Action="http://pakeg/ServiceNetpro/cariRequest" message="tns:cari"/>
<output wsam:Action="http://pakeg/ServiceNetpro/cariResponse" message="tns:cariResponse"/>
</operation>
<operation name="coba">
<input wsam:Action="http://pakeg/ServiceNetpro/cobaRequest" message="tns:coba"/>
<output wsam:Action="http://pakeg/ServiceNetpro/cobaResponse" message="tns:cobaResponse"/>
</operation>
</portType>
<binding name="ServiceNetproPortBinding" type="tns:ServiceNetpro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cari">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="coba">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceNetproService">
<port name="ServiceNetproPort" binding="tns:ServiceNetproPortBinding">
<soap:address location="http://localhost:8080/WebServiceLogin/ServiceNetproService"/>
</port>
</service>
</definitions>